<template>
  <div id="app">
    <router-view></router-view>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </div>
</template>

<style lang="scss">
  $dark: #2C3E50;
  $blue: #3498DB;

  #app {
    min-height: 100vh;
    min-width: 100vw;
  }

  body {
    margin: 0;
    overflow-x: hidden;
    background-color: $dark;
  }

  * {
    font-family: 'Roboto', sans-serif;
  }
</style>
