<template>
  <div class="wrapper">
    <div class="last-messages">
      <div class="search">
        <form @submit.prevent="searchProfiles">
          <input type="text" v-model="search" placeholder="Szukaj" @focusin="focusin">
          <div class="form--error" v-if="error">
            <p>Brak użytkowników o podanym kryterium</p>
          </div>
          <input type="submit" style="display: none;">
        </form>
      </div>
      <div class="last-messages-messages">
        <last-message
                v-for="message in getLastMessages"
                v-bind:key="message.id"
                v-if="!focus"
                :message_id="message.message_id"
                :user_id="message.user_id"
                :seen="message.seen"
                :fake="message.fake"
                v-on:clicked="lastMessageClicked"
                v-on:ready="readyLastMessage"
        ></last-message>
        <user
                v-for="user in getSearchedUsers"
                v-bind:key="user.id"
                :id="user.id"
                :firstname="user.firstname"
                :lastname="user.lastname"
                v-on:clicked="searchUserClicked"
        ></user>
      </div>
      <div class="get--more" :class="{ disabled: !thereIsMoreLastMessages}">
        <p><span v-on:click="getMoreLastMessages">Załaduj więcej</span></p>
      </div>
    </div>
    <div class="chatting" v-on:click="focusout">
      <div class="messages">
        <message
                v-for="m in getMessagesByUserId(currentMessagesOfUser, this.getAuthenticatedUser.id)"
                v-bind:key="m.id"
                :message="m"
        ></message>
      </div>
      <div class="input">
        <form @submit.prevent="newMessageSend">
          <input type="text" v-model="newMessage">
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import LastMessage from '../components/LastMessage'
  import Message from '../components/Message'
  import User from '../components/User'
  import { EventBus } from '../utils/event-bus'

  export default {
    name: 'chat',

    components: {
      LastMessage,
      Message,
      User
    },

    data () {
      return {
        thereIsMoreLastMessages: true,
        currentMessagesOfUser: 0,
        readMessages: false,
        read: [],
        newMessage: '',
        search: '',
        focus: false,
        error: false
      }
    },

    computed: {
      ...mapGetters([
        'getLastMessages',
        'getMessagesByUserId',
        'getAuthenticatedUser',
        'getMessage',
        'getCurrentUserOnChat',
        'getSearchedUsers'
      ])
    },

    methods: {
      ...mapActions([
        'authUser',
        'fetchLastMessages',
        'fetchMoreLastMessages',
        'fetchMessagesByUserId',
        'setCurrentUserOnChat',
        'sendMessage',
        'fromPusher',
        'searchUsers',
        'clearSearchedUsers',
        'addFakeLastMessage',
        'fetchLastMessageByUser'
      ]),

      getMoreLastMessages () {
        this.fetchMoreLastMessages()
          .then((messages) => {
            this.thereIsMoreLastMessages = messages.length !== 0
          })
      },

      lastMessageClicked (userId) {
        this.currentMessagesOfUser = userId
        this.fetchMessagesByUserId(userId)
        this.setCurrentUserOnChat(userId)
        setTimeout(this.scroll, 200)
      },

      readyLastMessage (id) {
        if (!this.readMessages) {
          this.read.push(id)
          const ids = this.getLastMessages.map(m => m.message_id)

          if (ids.length === this.read.length) {
            var tmp = false
            ids.forEach((i) => {
              if (!this.read.includes(i)) {
                tmp = true
              }
            })

            this.read.forEach((i) => {
              if (!ids.includes(i)) {
                tmp = true
              }
            })

            if (!tmp) {
              const message = this.getLastMessages.find(m => {
                return ((this.getAuthenticatedUser.id === this.getMessage(m.message_id).receiver_id) && m.seen) ||
                  (this.getAuthenticatedUser.id === this.getMessage(m.message_id).sender_id)
              })

              this.currentMessagesOfUser = message.user_id
              this.fetchMessagesByUserId(message.user_id)
              this.setCurrentUserOnChat(message.user_id)
            }
          }
        }
      },

      newMessageSend () {
        if (this.newMessage !== '') {
          this.sendMessage({
            sender_id: this.getAuthenticatedUser.id,
            receiver_id: this.getCurrentUserOnChat,
            message: this.newMessage
          })

          this.newMessage = ''
        }
      },

      subscribeToPusher () {
        const channel = this.$pusher.subscribe('user-' + this.getAuthenticatedUser.id)

        channel.bind('message', (log) => {
          this.fromPusher(JSON.parse(log))
        })
      },

      async scroll () {
        var messagesElem = this.$el.querySelector('.messages')
        messagesElem.scrollTop = messagesElem.scrollHeight + 200
      },

      searchProfiles () {
        this.error = false
        this.searchUsers(this.search)
          .then(users => {
            console.log(users)
            if (users.length === 0) {
              this.error = true
            }
          }).catch(() => {
            this.error = true
          })
      },

      focusin () {
        this.focus = true
      },

      focusout () {
        this.focus = false
        this.error = false
        this.clearSearchedUsers()
      },

      searchUserClicked (id) {
        console.log(id)
        this.addFakeLastMessage(id)
        this.focusout()

        this.currentMessagesOfUser = id
        this.fetchLastMessageByUser(id)
        this.fetchMessagesByUserId(id)
        this.setCurrentUserOnChat(id)
        setTimeout(this.scroll, 200)
      }
    },

    created () {
      EventBus.$on('needScroll', () => {
        setTimeout(this.scroll, 200)
      })

      this.authUser()
        .then(() => {
          setTimeout(this.subscribeToPusher, 200)
        })

      this.fetchLastMessages()
        .then(() => {
          setTimeout(this.scroll, 700)
        })
    }
  }
</script>

<style scoped lang="scss">
  $dark: #2C3E50;
  $blue: #3498DB;
  $green: #80b929;
  $red: #E74C3C;

  .wrapper {
    display: flex;
    max-height: 100vh;

    .last-messages {
      width: 300px;
      background-color: $dark;
      border-right: 1px solid rgba(236, 240, 241, .2);
      position: fixed;
      height: 100%;
    }
  }

  .get--more {
    margin: 16px 0;
    background-color: #2C3E50;

    p {
      text-align: center;
      margin: 0;

      span {
        padding: 8px 20px;
        background-color: $green;
        border-radius: 15px;
        color: #2C3E50;
        cursor: pointer;
      }
    }

    &.disabled {
      p {
        span {
          background-color: rgb(104, 122, 140);
          cursor: not-allowed;
        }
      }
    }
  }

  .chatting {
    width: calc(100% - 300px);
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    margin-left: 300px;
  }

  .input {
    form {
      padding: 16px;
      display: flex;
      justify-content: space-between;

      input[type=text] {
        width: 80%;
        background-color: #80b929;
        border: 0;
        border-radius: 8px;
        outline: 0;
        padding: 6px;
      }

      input[type=submit] {
        width: 15%;
        background-color: #b96229;
        border: 0;
        border-radius: 8px;
        outline: 0;
        padding: 6px;
        cursor: pointer;
      }
    }
  }

  .messages {
    height: calc(100vh - 60px);
    overflow-y: auto;
  }

  .last-messages-messages {
    height: calc(100vh - 111px);
    overflow-y: auto;
  }

  .search {
    form {
      display: flex;
      justify-content: center;
      margin: 16px 0;
      position: relative;

      input {
        width: 80%;
        background-color: #80b929;
        border: 0;
        border-radius: 8px;
        outline: 0;
        padding: 6px;
      }
    }
  }

  .form--error {
    position: absolute;
    bottom: -24px;
    font-size: 14px;
    width: 100%;
    text-align: center;

    p {
      margin: 0;
      color: $red;
    }
  }
</style>