<template>
  <div class="wrapper">
    <div class="form form__login">
      <div class="form--holder">
        <div class="form--error" v-if="errored">
          <p style="text-align: center">{{ error }}</p>
        </div>
        <form @submit.prevent="auth">
          <div class="form--group">
            <label for="username">Login</label>
            <input type="text" id="username" v-model="login">
          </div>
          <div class="form--group">
            <label for="password">Hasło</label>
            <input type="password" id="password" v-model="password">
          </div>
          <input type="submit" value="Zaloguj">
        </form>
      </div>
      <div class="form--redirect">
        <p>Nie masz konta? <router-link :to="{name: 'register'}">Zarejestruj się</router-link></p>
      </div>
  </div>
</div>
</template>

<script>
  export default {
    name: 'login',

    data () {
      return {
        login: '',
        password: '',
        error: '',
        errored: false
      }
    },

    methods: {
      auth: function () {
        const { login, password } = this
        this.errored = false

        this.$store.dispatch('authLogin', { login, password })
          .then(() => {
            this.$router.push('/')
          }).catch(({ error }) => {
            this.errored = true
            this.error = error
          })
      }
    }
  }
</script>

<style scoped lang="scss">
$dark: #2C3E50;
$blue: #3498DB;
$red: #E74C3C;

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #2C3E50;

  .login {
    position: relative;
    top: 50%;
    left: 50%

  }

  .form {
     font-size: 18px;
     width: 300px;
     padding: 32px;

     &__login {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       background-color: #fbfbfb;
       border-radius: 12px;
       box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
     }

     &__panel {
       input[type=text] {
         background-color: transparent !important;
       }
     }

     .form--group {
       width: 100%;
       margin-top: 73px;
       position: relative;

       &:first-child {
         margin-top: 28px;
       }

       label {
         display: block;
         position: relative;
         top: 2px;
         cursor: pointer;

         &.active {
           top: -8px;
         }
       }

       input[type=text],
       input[type=email],
       input[type=password] {
         outline: none;
         display: block;
         width: 100%;
         background-color: #fbfbfb;
         border: 0;
         border-bottom: 1px solid $dark;
       }
     }

     input[type=submit] {
       display: block;
       width: 100%;
       font-size: 18px;
       padding: 4px;
       border: 0;
       border-radius: 12px;
       box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
       color: $dark;
       background-color: $blue;
       margin-top: 48px;
       cursor: pointer;
       outline: 0;
     }
   }

  .button--delete {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
  }

  .form--error {
    color: $red;
    font-size: 14px;
  }
}

.form--redirect {
  margin-top: 8px;
  font-size: 15px;

  a {
    text-decoration: none;
    color: $blue;
  }
}
</style>