<template>
  <div class="wrapper">
    <div class="section--form">
      <div class="form form__login">
        <div class="form--holder">
          <form @submit.prevent="register">
            <div class="form--group">
              <label for="firstname">Imię</label>
              <input type="text" id="firstname" v-model="model.firstname">
              <div class="form--error">
                <p>{{ errors.firstname }}</p>
              </div>
            </div>
            <div class="form--group">
              <label for="lastname">Nazwisko</label>
              <input type="text" id="lastname" v-model="model.lastname">
              <div class="form--error">
                <p>{{ errors.lastname }}</p>
              </div>
            </div>
            <div class="form--group">
              <label for="login">Login</label>
              <input type="text" id="login" v-model="model.login">
              <div class="form--error">
                <p>{{ errors.login }}</p>
              </div>
            </div>
            <div class="form--group">
              <label for="password">Hasło</label>
              <input type="password" id="password" v-model="model.password">
              <div class="form--error">
                <p>{{ errors.password }}</p>
              </div>
            </div>
            <input type="submit" value="Zarejestruj się">
          </form>
          <div class="form--redirect">
            <p>Masz już konto? <router-link :to="{name: 'login'}">Zaloguj się</router-link></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'register',

    data () {
      return {
        model: {
          firstname: '',
          lastname: '',
          login: '',
          password: ''
        },
        errors: {
          firstname: '',
          lastname: '',
          login: '',
          password: ''
        }
      }
    },

    methods: {
      register: function () {
        const { firstname, lastname, login, password } = this.model

        this.errors = {
          firstname: '',
          lastname: '',
          login: '',
          password: ''
        }

        this.$store.dispatch('authRegister', { firstname, lastname, login, password })
          .then(() => {
            this.$router.push('/')
          })
          .catch(({ firstname, lastname, login, password }) => {
            this.errors.firstname = firstname
            this.errors.lastname = lastname
            this.errors.login = login
            this.errors.password = password
          })
      }
    }
  }
</script>

<style scoped lang="scss">
$dark: #2C3E50;
$blue: #3498DB;
$red: #E74C3C;

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #2C3E50;

  .login {
    position: relative;
    top: 50%;
    left: 50%

  }

  .form {
     font-size: 18px;
     width: 300px;
     padding: 32px;

     &__login {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       background-color: #fbfbfb;
       border-radius: 12px;
       box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
     }

     &__panel {
       input[type=text] {
         background-color: transparent !important;
       }
     }

     .form--group {
       width: 100%;
       margin-top: 73px;
       position: relative;

       &:first-child {
         margin-top: 28px;
       }

       label {
         display: block;
         position: relative;
         cursor: pointer;

         &.active {
           top: -8px;
         }
       }

       input[type=text],
       input[type=email],
       input[type=password] {
         outline: none;
         display: block;
         width: 100%;
         background-color: #fbfbfb;
         border: 0;
         border-bottom: 1px solid $dark;
       }
     }

     input[type=submit] {
       display: block;
       width: 100%;
       font-size: 18px;
       padding: 4px;
       border: 0;
       border-radius: 12px;
       box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
       color: $dark;
       background-color: $blue;
       margin-top: 48px;
       cursor: pointer;
       outline: 0;
     }
   }

  .button--delete {
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
  }

  .form--error {
    color: $red;
    font-size: 14px;
  }
}

.form--redirect {
  margin-top: 8px;
  font-size: 15px;

  a {
    text-decoration: none;
    color: $blue;
  }
}
</style>