<template>
  <div class="last--message" :class="{ 'not-seen': checkIfNotSeen(), active: checkIfActive() }" v-on:click="clicked">
    <div class="avatar">
      <span>{{ getAvatar() }}</span>
    </div>
    <div class="message">
      <p class="message--who">{{ this.getUser(this.user_id).firstname }} {{ this.getUser(this.user_id).lastname }}</p>
      <p class="message--text">{{ getShorterText() }}...</p>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'last-message',

    props: [
      'message_id',
      'user_id',
      'fake'
    ],

    computed: {
      ...mapGetters([
        'getUser',
        'getMessage',
        'getAuthenticatedUser',
        'getCurrentUserOnChat'
      ])
    },

    methods: {
      ...mapActions([
        'fetchUser',
        'fetchMessage',
        'setSeenMessage'
      ]),

      clicked () {
        this.$emit('clicked', this.user_id)
        this.setSeenMessage(this.message_id)
      },

      getShorterText () {
        if (this.fake) {
          return ''
        }

        return this.getMessage(this.message_id).message.slice(0, 50)
      },

      toMeMessage () {
        return this.getAuthenticatedUser.id === this.getMessage(this.message_id).receiver_id
      },

      checkIfNotSeen () {
        if (this.fake) {
          return false
        }

        return this.toMeMessage() && !this.getMessage(this.message_id).seen
      },

      checkIfActive () {
        return this.getCurrentUserOnChat === this.user_id
      },

      getAvatar () {
        return this.getUser(this.user_id).firstname.charAt(0) + this.getUser(this.user_id).lastname.charAt(0)
      }
    },

    created () {
      if (!this.fake) {
        this.fetchMessage(this.message_id)
          .then(() => {
            this.$emit('ready', this.message_id)
          })
      }
    }
  }
</script>

<style scoped lang="scss">
  $dark: #2C3E50;
  $blue: #3498DB;
  $darkBlue: #2980B9;
  $white: #ECF0F1;
  $green: #80b929;

  .last--message {
    transition: all ease-in-out .1s;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px 10px;

    &.active {
      background-color: rgba(236, 240, 241, 0.3);
    }

    &:hover {
      background-color: rgba(236, 240, 241, 0.3);
    }

    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 15px;
      position: relative;
      background-color: $darkBlue;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 20px;
        color: $dark
      }
    }

    .message {
      width: calc(100% - 60px);

      &--who {
        color: $white;
        margin-bottom: 8px;
      }

      &--text {
        color: $white;
        font-size: 13px;
      }
    }

    &.not-seen {
      .message {
        &--who,
        &--text {
          font-weight: bold;
          color: $green;
        }
      }
    }
  }

  p {
    margin: 0;
  }
</style>