<template>
  <div class="message">
    <div class="left" v-if="!checkIfRight()">
      <p class="message--content">{{ message.message }}</p>
      <p></p>
    </div>
    <div class="right" v-if="checkIfRight()">
      <p></p>
      <p class="message--content">{{ message.message }}</p>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'message',

    props: [
      'message'
    ],

    computed: {
      ...mapGetters([
        'getAuthenticatedUser'
      ])
    },

    methods: {
      checkIfRight () {
        return this.message.sender_id === this.getAuthenticatedUser.id
      }
    }
  }
</script>

<style lang="scss" scoped>
  .message {
    padding: 16px;

    &--content {
      background-color: #2980B9;
      color: #2C3E50;
      border-radius: 8px;
    }
  }

  .left,
  .right{
    display: flex;
    justify-content: space-between;
  }

  .left {
    p:nth-child(1) {
      max-width: 70%;
      padding: 8px;
    }
    p:nth-child(2) {
      width: 30%;
    }
  }

  .right {
    p:nth-child(1) {
      width: 30%;
    }
    p:nth-child(2) {
      max-width: 70%;
      padding: 8px;
    }
  }

  p {
    margin: 0;
  }
</style>