<template>
  <div class="last--message" v-on:click="clicked">
    <div class="avatar">
      <span>{{ this.firstname.charAt(0) }}{{ this.lastname.charAt(0) }}</span>
    </div>
    <div class="message">
      <p class="message--who">{{ this.firstname }} {{ this.lastname }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'user',

    props: [
      'id',
      'firstname',
      'lastname'
    ],

    methods: {
      clicked () {
        this.$emit('clicked', this.id)
      }
    }
  }
</script>

<style scoped lang="scss">
  $dark: #2C3E50;
  $blue: #3498DB;
  $darkBlue: #2980B9;
  $white: #ECF0F1;
  $green: #80b929;

  .last--message {
    transition: all ease-in-out .1s;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px 10px;

    &.active {
      background-color: rgba(236, 240, 241, 0.3);
    }

    &:hover {
      background-color: rgba(236, 240, 241, 0.3);
    }

    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-right: 15px;
      position: relative;
      background-color: $darkBlue;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 20px;
        color: $dark
      }
    }

    .message {
      width: calc(100% - 60px);

      &--who {
        color: $white;
      }

      &--text {
        color: $white;
        font-size: 13px;
      }
    }

    &.not-seen {
      .message {
        &--who,
        &--text {
          font-weight: bold;
          color: $green;
        }
      }
    }
  }

  p {
    margin: 0;
  }
</style>